             
{% load staticfiles %}

             <head>
                 <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.header{
  text-align: center;
}
</style>
             </head>

             <body >

                 {% load bankapp_tags %}
                 <button style="padding: 10px; margin: 5px;"><a href="{% url 'main' %}"><h1>HOME</h1></a></button>


                   {% if account_list %}


                   <h2 class="header" >Account Table</h2>

                    <table>
                      <tr>
                            <th>Account ID</th>
                            <th>Account Type</th>
                            <th>Balance</th>
                            <th>Overdraft History</th>
                      </tr>
                       {% for account in account_list %}
                      {% if not forloop.counter|mod:1 %}
                      <tr>

                      
                              <td >{{ account.acct_id }}</td>
                              <td >{{account.acct_type}}</td>
                              <td >{{account.balance}}</td>
                              <td >{{account.overdraft_history}}</td>
                               
                        
                          </tr>
                          {% endif %}
                            {% endfor %}

                    </table>

                   {% endif %}
                     {% load bankapp_tags %}

                   {% if credit_list %}

                   <h2 class="header" >Credit Table</h2>

                   <table>
                      <tr>
                            <th>Timestamp</th>
                            <th>Existing NPA</th>
                            <th>Cash Reserve</th>
                      </tr>
                  
         

                       {% for credit in credit_list %}
                       {% if not forloop.counter|mod:1 %}
                       <tr>
                              <td >{{ credit.timestamp }}</td>
                              <td >{{ credit.existing_npa }}</td>
                              <td >{{ credit.cash_reserve }}</td>
                                 </tr>
                               {% endif %}
                          {% endfor %}
                       

                    </table>

                   {% endif %}

                   {% if customer_list %}

                   <h2 class="header" >Customer Table</h2>

                   <table>
                      <tr>
                            <th>Customer ID</th>
                            <th>Name</th>
                            <th>Birth Date</th>
                            <th>Family Dependency</th>
                            <th>Account Number</th>
                            <th>Income</th>
                            <th>Pincode</th>
                            <th>Age</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                      </tr>
                  
                  

                       {% for customer in customer_list %}
                       {% if not forloop.counter|mod:1 %}
                           <tr>

                              <td >{{ customer.cust_id}}</td>
                              <td >{{ customer.name}}</td>
                              <td >{{ customer.birth_date}}</td>
                              <td >{{ customer.fam_dependency}}</td>
                              <td >{{ customer.account_no}}</td>
                              <td >{{ customer.income}}</td>
                              <td >{{ customer.pincode}}</td>
                              <td >{{ customer.age}}</td>
                              <td >{{ customer.first_name}}</td>
                              <td >{{ customer.last_name}}</td>
                                      </tr>
                      {% endif  %}
                               
                          {% endfor %}
                  

                    </table>

                   {% endif %}


                   {% if interest_list %}

                  <h2 class="header" >Interest Rate Table</h2>

                   <table>
                      <tr>
                            <th>Timestamp</th>
                            <th>MCLR</th>
                            <th>FDR</th>

                      </tr>
                  


                       {% for interest in interest_list %}
                       {% if not forloop.counter|mod:1 %}
                           <tr>
                              <td >{{ interest.timestamp}}</td>
                              <td >{{ interest.mclr}}</td>
                              <td >{{ interest.fdr}}</td>
                              {% endif  %}
                                       </tr>
                             
                          {% endfor %}


                    </table>


                   {% endif %}

                   {% if region_list %}


                  <h2 class="header" > Region Table</h2>

                   <table>
                      <tr>
                            <th>Pincode</th>
                            <th>Address</th>

                      </tr>
                  


                       {% for region in region_list %}
                       {% if not forloop.counter|mod:2 %}
                           <tr>
                              <td >{{ region.pincode}}</td>
                              <td >{{ region.address}}</td>

                              {% endif  %}
                              </tr>
  
                          {% endfor %}
                       
                    </table>

                   {% endif %}
                 </body>